@model Training_wmqr.Models.User

@{
    ViewBag.Title = "Edit";
}

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        
        <fieldset>
			<legend>Edit User</legend>
            @Html.HiddenFor(model => model.Id)
			<div class="control-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                <div class="controls">
				    @Html.EditorFor(model => model.Name)
				    <span class="help-block">@Html.ValidationMessageFor(model => model.Name)</span>
			    </div>
            </div>
            <div class="control-group">
				@Html.LabelFor(model => model.Username, new { @class = "control-label" })
                <div class="controls">
				    @Html.EditorFor(model => model.Username)
				    <span class="help-block">@Html.ValidationMessageFor(model => model.Username)</span>
			    </div>
            </div>
            <div class="control-group">
				@Html.LabelFor(model => model.Email, new { @class = "control-label" })
                <div class="controls">
				    @Html.EditorFor(model => model.Email)
				    <span class="help-block">@Html.ValidationMessageFor(model => model.Email)</span>
			    </div>
			</div>
		</fieldset>
        <div class="form-actions">
    		<button type="submit" class="btn btn-primary">Update User</button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }