@model Training_wmqr.Models.Document

@{
    ViewBag.Title = "Create";
}

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
			<legend>Add Document</legend>
            @Html.ShowErrorMessage()
			<label>
				<span>@Html.LabelFor(model => model.Text):</span>
				@Html.EditorFor(model => model.Text)
				<span>@Html.ValidationMessageFor(model => model.Text)</span>
			</label>
		</fieldset>
		<button type="submit">Create Document</button>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>