@using Training_wmqr.Infrastructure
@model Training_wmqr.Models.Document

@{
    ViewBag.Title = "Details";
}

    <fieldset>
	    <legend>Document Details</legend>
	    <label>
		    <span>@Html.DisplayNameFor(model => model.Text):</span>
		    <span>@Html.DisplayFor(model => model.Text)</span>
	    </label>
	    <label>
		    <span>Author:</span>
		    <span>@Html.DisplayFor(model => model.Author.Username)</span>
	    </label>
	    <label>
		    <span>Favourites:</span>
		    <span>@Html.DisplayList(Model.Favourites.Select(f => f.User.Username))</span>
	    </label>
    </fieldset>

    @if (Model.IsFavourite(HttpUser.GetUsername()))
    {
        using (Html.BeginForm("RemoveFavourite", "Document"))
        {
            @Html.Hidden("id", Model.Id)
            <input type="submit" value="un-Favourite"/>
        }
    }
    else{
        using (Html.BeginForm("AddFavourite", "Document"))
         {
             @Html.Hidden("id", Model.Id)
             <input type="submit" value="Favourite"/>
         }
    }
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>