@model Training_wmqr.Models.Document

@{
    ViewBag.Title = "Edit";
}

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
			<legend>Edit Document</legend>
            @Html.HiddenFor(model => model.Id)
            <div class="control-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Title)
                    <span class="help-block">@Html.ValidationMessageFor(model => model.Title)</span>
			    </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Text, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Text)
                    <span class="help-block">@Html.ValidationMessageFor(model => model.Text)</span>
			    </div>
            </div>
		</fieldset>
        <div class="form-actions">
    		<button type="submit" class="btn btn-primary">Update Document</button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }