@model Training_wmqr.Models.Document

@{
    ViewBag.Title = "Edit";
}

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
			<legend>Edit Document</legend>
            @Html.HiddenFor(model => model.Id)
			<label>
				<span>@Html.LabelFor(model => model.Text):</span>
				@Html.EditorFor(model => model.Text)
				<span>@Html.ValidationMessageFor(model => model.Text)</span>
			</label>
		</fieldset>
        <button type="submit">Update Document</button>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>