@model IEnumerable<Training_wmqr.Models.Document>

@{
    ViewBag.Title = "Index";
}

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Text)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Text)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @using (Html.BeginForm("Delete", "Document"))
                        {
                            @Html.Hidden("id", item.Id)
                            <input type="submit" value="Delete"/>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>